.img-responsive{
  margin-left: 88px;
  cursor: pointer;
}

.header{
  margin-top: 7px;
  margin-left: -22px;
  cursor: pointer;
}

.headerA{
  margin-top: 7px;
  cursor: pointer;
  margin-left: 5px;
 }
