
<app-navBar></app-navBar>
<div class="text-center" style="margin-top: 124px;">
  <a class="navbar-brand ipad" routerLink="/"><img src="/assets//images/about-us-icon.png" class="img-responsive " alt="Responsive image"></a>

  <h3>ABOUT <strong>US</strong></h3>
</div>

<div class="container">
  <p>Bottle Lab Technologies PVT LTD is a tech-driven innovation lab, founded by alumni of
    IIM-Calcutta & IISc-Bangalore. We are a bunch of passionate people, who are on a mission
    to solve real problems of people and improvise quality of their lives using technology.
    Bottle Lab Technologies brings
    you a revolutionary product SmartQ to eliminate queues from the face of the earth. </p>
</div>
